<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.mmmi.sdu/mdsd/MathInterpreter"
			class = "sdu.mmmi.mdsd.mathInterpreter.MathInterpreterPackage"
			genModel = "model/generated/MathInterpreter.genmodel" />
	</extension>
</plugin>
